# Fill in the details of the solutions you want to use with the test scripts

# IOSXE
export IOSXE_HOST=
export IOSXE_USERNAME=
export IOSXE_PASSWORD=
export IOSXE_HOSTNAME=

##########################################################################

# Meraki
export MERAKI_DASHBOARD_API_KEY=
export MERAKI_SWITCH_SERIALS= #separated by comma

##########################################################################

# Catalyst Center
export CC_HOST=
export CC_USERNAME=
export CC_PASSWORD=
export CC_VERIFY=False

## Needed for Catalyst Center related testcases:
export CC_CATALYST_IDS= #YOUR IOS XE UUIDs in Catalyst Center, separated by comma

##########################################################################

# ThousandEyes
export TE_API_KEY=
export TE_AGENT=4